.makeStyles-root-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 15rem;
  background-color: #3f51b5;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

  .MuiAvatar-root {
    width: 10rem;
    height: 10rem;
  }
}
