@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
$standardFont: "Bungee", sans-serif;

header {
  background-color: #f09f27;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

  h6 {
    font-family: "Bungee", sans-serif !important;
  }
}
